{% if settings.minicart_giftbox_enabled %}

  {%- assign giftProduct = false -%}

  {%- for giftbox_product in collections[settings.minicart_giftbox_default].products -%}
    {%- assign giftProduct = giftbox_product -%}
  {%- endfor -%}

  {%- assign giftBox_selected = false -%}
  
  {%- for item in cart.items -%}

    {%- if item.product == giftProduct -%}
      {%- assign giftBox_selected = true -%}
    {%- endif -%}

  {%- endfor -%}

  {% assign minicart_giftbox = collections[settings.minicart_giftbox_default] %}
  {% assign minicart_giftbox_title = settings.minicart_giftbox_title %}
  {% assign minicart_giftbox_description = settings.minicart_giftbox_description %}
  {% assign minicart_giftbox_shown = 0  %}

  {% capture recom_section %}
  <div class="off-canvas-cart--recommendations">

    {% if minicart_giftbox_title != empty or minicart_giftbox_description != empty %}
      <div class="recommendations-header">
        {% unless minicart_giftbox_title == empty %}
        <h4>{{ minicart_giftbox_title }}</h4>
        {% endunless %}
        {% unless minicart_giftbox_description == empty %}
          <small>{{ minicart_giftbox_description | replace: '[', '<b>' | replace: ']', '</b>' }}</small>
        {% endunless %}
      </div>
    {% endif %}

    <div class="recommended-products">
      {% if minicart_giftbox != empty %}
        {% comment %} DEFAULT PRODUCTS {% endcomment %}
        {% for giftbox_product in minicart_giftbox.products %}
            {% render 'cart-drawer-giftbox-product', giftbox_product: giftbox_product %}
            {% assign minicart_giftbox_shown = minicart_giftbox_shown | plus: 1  %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endcapture %}

  {% if minicart_giftbox_shown > 0 %} 
    <div class="giftbox-container{% if giftBox_selected == true %} hide{% endif %}">
      {{ recom_section }}
    </div>
  {% endif %}

{% endif %}