
{%- if data -%}
  {%- assign refs = data.metafields.product_features.reference.references -%}
  {%- if refs.size > 0 -%}
    <div class="product-single__icons">
      {%- for ref in refs -%}
        {%- assign ref_index = ref.index -%}
        {%- assign section_types = shop.metafields.acf_settings.global.fields | where: 'section_name', ref.section | map: 'name' -%}
        <div class="product-single__icon">
          {%- for section_type in section_types -%}
            {%- assign section_data = shop.metafields.globals[section_type][ref_index] -%}
            {%- if section_type == "icon_file" -%}
              <div class="icon">
                <img src="{{ section_data.first.src }}" alt="{{ data.title }}"/>
              </div>
            {%- elsif section_type == "title" -%}
              <h5>{{ section_data }}</h5>
            {%- elsif section_type == "description" -%}
              <p>{{ section_data }}</p>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endif -%}